<div class="fundo min-vh-100 p-4">
  <div class="caixa p-4">
    <h2 class="titulo mb-4">Gerenciar Evento</h2>

    <form>
      <div class="mb-3">
        <label for="id" class="form-label">ID:</label>
        <input id="id" type="text" class="form-control" [(ngModel)]="evento.id" name="id">
      </div>

      <div class="mb-3">
        <label for="nome" class="form-label">NOME</label>
        <input id="nome" type="text" class="form-control" [(ngModel)]="evento.nome" name="nome">
      </div>

      <div class="mb-3">
        <label for="data" class="form-label">DATA</label>
        <input id="data" type="date" class="form-control" [(ngModel)]="evento.data" name="data">
      </div>

      <div class="mb-3">
        <label for="descricao" class="form-label">DESCRIÇÃO</label>
        <textarea id="descricao" class="form-control" rows="3" [(ngModel)]="evento.descricao" name="descricao"></textarea>
      </div>

      <div class="mb-4">
        <label for="categoria" class="form-label">CATEGORIA</label>
        <input id="categoria" type="text" class="form-control" [(ngModel)]="evento.categoria" name="categoria">
      </div>
    </form>

    <div class="acoes-container">

      <button *ngIf="evento.status === ''"
              class="btn btn-primary btn-sm"
              (click)="cadastrar()">Cadastrar</button>

      <ng-container *ngIf="evento.status === 'pendente'">
        <button class="btn btn-primary btn-sm" (click)="editar()">Editar Evento</button>
        <button class="btn btn-primary btn-sm" (click)="remover()">Remover Evento</button>
        <button class="btn btn-primary btn-sm" (click)="iniciar()">Iniciar Evento</button>
      </ng-container>

      <ng-container *ngIf="evento.status === 'finalizado'">
        <button class="btn btn-primary btn-sm" (click)="gerarRelatorio()">Gerar Relatório</button>
        <button class="btn btn-primary btn-sm" (click)="gerarCertificados()">Gerar Certificados</button>
      </ng-container>

      <ng-container *ngIf="evento.status === 'iniciado'">
        <button class="btn btn-primary btn-sm" (click)="finalizar()">Finalizar Evento</button>
      </ng-container>
    </div>
  </div>
</div>
